*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.container{
   background-color: #c8c8df; 
   min-height:100vh;
   border: 8px solid rgba(54, 50, 50, 0.933);
}
.content{
    max-width:900px;
    margin:0 auto;
}
.top_section{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.top_section h1{
    font-size: 40px;
    font-weight: bold;
    color:rgb(22, 27, 78);
    text-transform: uppercase;

}
.top_section h4{
    font-size: 20px;
    text-align:end;

}
.image_container,img{
    width:300px;
    height:350px;
    margin-top:50px;
    border-radius: 160px;
    overflow:hidden;

}
.middle_section h1{
    font-size: 50px;
    margin-top:50px;
    margin-bottom:20px;
    letter-spacing: 5px;
    word-spacing: 5px;
    

}
.middle_section p{
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
}
.biography{
    margin-top:30px;
}
.biography ul{
    margin-left:50px;
    line-height: 36px;
    font-size: 20px;
}
.biography h1{
    margin-bottom: 15px;
}
footer{
    margin-top:20px;
    font-size:20px;
    
}
footer p{
    text-align:right;
}